.modalOverlay {
    width: 1280px;
    height: 800px;
    position: fixed;
    top: 0%;
    left: 12.5%;

    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;

    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    font-family: "Noto Sans KR", sans-serif;
    width: 800px;
    height: 500px;
    /* border: 1px black solid; */
    border-radius: 30px;
    background-color: white;
}

.container {
    width: 752px;
    height: 40px;
    border-bottom: 1px #666666 solid;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.title {
    width: 608px;
    height: 24px;
    /* border: 1px black solid; */
    margin-left: 20px;
    font-size: 20px;
    font-weight: 700;
}

.button {
    width: 30px;
    height: 24px;
    /* border: 1px black solid; */
    margin-right: 20px;
}

.button:hover {
    cursor: pointer;
}

/* 모달창 내부 */

.contentContainer {
    display: flex;
    flex-direction: column;
    align-items: center; /* 가로 가운데 정렬 */
    margin-top: 25px;
    margin-left: 45px;
    margin-right: 45px;
    height: 100%;
    width: 710px;
    text-align: center;
}

.content {
    width: 710px;
    margin-top: 30px;
}

.category {
    display: flex;
    flex-direction: row;
    justify-content: flex-start; /* 왼쪽 정렬 */
    align-items: center; /* 각 항목의 시작점을 맞추기 위해 설정 */

    margin-bottom: 20px;
    font-size: 20px;
}

.category > div {
    display: inline-block;
    vertical-align: middle; /* 각 div가 수직으로 가운데 정렬되도록 설정 */
}

.category > div:first-child {
    margin-right: 250px;
}

.category > div:last-child {
    font-size: 16px;
}

.confirm {
    margin-top: 190px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-right: 0;
}

.employeeName {
    margin-left: 17px;
}

.selectBox {
    display: flex;
    flex-direction: column; /* 세로로 정렬 */
    gap: 5px; /* 체크박스들 사이의 간격 조정 */
    margin-left: 30px;
  }
  
  .selectBox input {
    display: block;
    margin-right: 10px; /* 체크박스와 텍스트 사이에 여백을 줄 수 있습니다 */
  }

  .selectBox [type="checkbox"] {
    appearance: none;
    box-sizing: border-box;
    background-clip: content-box;
    width: 20px;
    height: 20px;
    border: 2px solid #ABABAB;
    border-radius: 4px;
    cursor: pointer;

    margin-bottom: 10px;
    transform: translateY(4px);
}

.selectBox label {
    display: flex;
    align-items: center; /* 체크박스와 글씨를 수직 정렬 */
    gap: 0px; /* 체크박스와 글씨 사이 여백 */
    line-height: 22px; /* 체크박스 높이와 동일하게 맞춤 */
}

.checkbox [type="checkbox"]:checked {
    border: 2px solid #e8decf;
    border-radius: 4px;
    background-color: #FFEB00;
}