.modalOverlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0%;
  left: 50%;
  transform: translateX(-50%); /* ✅ 좌우 정중앙 정렬 */

  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;

  font-family: "Noto Sans KR", sans-serif;

  display: flex;
  justify-content: center;
  /* align-items: flex-start; */
}

.modal {
  width: 800px;
  height: 500px;
  /* border: 1px black solid; */
  border-radius: 30px;
  background-color: white;
  margin-top: 5%;
}

.container {
  width: 752px;
  height: 40px;
  border-bottom: 1px #666666 solid;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.title {
  width: 608px;
  height: 24px;
  /* border: 1px black solid; */
  margin-left: 20px;
  font-size: 20px;
  font-weight: 700;
}
.button {
  width: 30px;
  height: 24px;
  /* border: 1px black solid; */
  margin-right: 20px;
}
.button:hover {
  cursor: pointer;
}
/* 내용이 들어가는 부분 가장 큰 박스*/
.content {
  width: 800px;
  height: 390px;
  border: 1px black solid;
  margin-top: 2%;
}
.contentBox {
  width: 800px;
  height: 72px;
  /* border: 1px black solid; */
  margin-top: 3%;
  display: flex;
  justify-content: space-between;
}
.alarmContent {
  width: 240px;
  height: 72px;
  /* border: 1px black solid; */
  margin-left: 40px;
  /* margin-top: ; */
  text-align: center;
}
.alarmButton {
  width: 240px;
  height: 72px;
  /* border: 1px black solid; */
  margin-right: 40px;
  display: flex;
  gap: 30px;
}
